/*<====SERVICIO====>*/

.text_carousel2{
    color: black;
    font-family: monospace;
    font-size: 16px;

    
}
.tit_carousel2{
    color: black;
}

.carousel-inner{
    margin-right: 100px;
    padding: 40px;
}
